body {
  display: flex;
  flex-direction: column;

  max-width: 8.5in;
  margin: auto;
  padding-top: 16px;

  font-family: "Noto Serif", serif;
}

hr {
  margin-left: 0px;
  margin-right: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
}

/* Layout */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row div {
  flex: 1 1 auto;
}

.flex-row .section-header {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 20%;
}

/* Utilities */

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.margin-bottom-none {
  margin-bottom: 0px;
}

.margin-bottom-small {
  margin-bottom: 8px;
}

.margin-bottom-large {
  margin-bottom: 32px;
}

/* Components */

.avatar {
  background: black;
  color: white;

  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin: auto;

  text-align: center;
  line-height: 100px;
  font-size: 64px;
}
